---
- hosts: pi
  remote_user: pi
  become: yes
  vars_files:
    - ovh_keys.yml

  tasks:
  - name: Ensure curl is installed
    apt:
      name: curl

  - name: Ensure socat is installed
    apt:
      name: socat

  - name: Install acme.sh
    shell: warn=False bash -c "curl https://get.acme.sh | sh"
    args:
      creates: /root/.acme.sh

  - name: generate certificate
    environment:
      OVH_AK: "{{ ovh_application_key }}"
      OVH_AS: "{{ ovh_application_secret }}"
      OVH_CK: "{{ ovh_consumer_key }}"
    shell: bash -c "source /root/.acme.sh/acme.sh.env; /root/.acme.sh/acme.sh --issue -d {{ acolock_hostname }} --dns dns_ovh"
