---
# Inspired by:
# - http://docs.gunicorn.org/en/stable/deploy.html
- hosts: pi
  remote_user: pi
  become: yes
  roles:
    - { name: dnsmasq, tags: ["dnsmasq"] }
    - { name: sshd_config, tags: ["sshd_config"] }
    - { name: ssh_port_forward, tags: ["ssh_port_forward"] }
  tasks:
  - name: Set timezone
    copy:
      content: "Europe/Paris\n"
      dest: /etc/timezone
    tags:
      - back
      - timezone

  - name: Install service config
    template:
      src: acolock_back.service
      dest: /etc/systemd/system/acolock_back.service
    notify:
      - reload systemd
    tags:
      - back

  - name: Install socket config
    template:
      src: acolock_back.socket
      dest: /etc/systemd/system/acolock_back.socket
    notify:
      - reload systemd
    tags:
      - back

  - meta: flush_handlers
    tags:
      - back

  - name: Ensure the latest rsync is installed
    apt:
      name: rsync
      state: latest

  - name: Ensure the latest python3-venv is installed
    apt:
      name: python3-venv
      state: latest

  - name: Ensure python3-dev is installed
    apt:
      name: python3-dev

  - name: Ensure build-essential is installed
    apt:
      name: build-essential

  - name: Ensure sqlite3 is installed
    apt:
      name: sqlite3

  - name: Ensure the latest nginx is installed
    apt:
      name: nginx
      state: latest

  - name: Ensure nginx service is running and enabled
    service:
      name: nginx
      state: started
      enabled: yes

  - name: Ensure gunicorn is installed
    apt:
      name: gunicorn3
      state: latest

  - name: Ensure default nginx site is disabled
    file:
      path: /etc/nginx/sites-enabled/default
      state: absent
    notify:
      restart nginx
  - name: Install acolock nginx config
    template:
      src: nginx_config.j2
      dest: /etc/nginx/conf.d/acolock.conf
    notify:
      - restart nginx
  - name: Create /run/acolock
    file:
      path: /run/acolock
      state: directory
  - name: Ensure service is enabled
    service:
      name: acolock_back.service
      enabled: yes
  - name: Ensure socket is enabled
    service:
      name: acolock_back.socket
      enabled: yes

  - name: generate dhparams
    shell: openssl dhparam -out /etc/nginx/dhparam.pem 2048
    args:
      creates: /etc/nginx/dhparam.pem

  - name: install certificate
    shell: bash -c "source /root/.acme.sh/acme.sh.env; /root/.acme.sh/acme.sh --install-cert -d {{ acolock_hostname }} --key-file /etc/nginx/{{ acolock_hostname }}.key --fullchain-file /etc/nginx/{{ acolock_hostname }}.cer --reloadcmd \"systemctl reload nginx\""
    tags: certificate

  - name: Enable Hardware Watchdog
    shell: bash -c "echo 'dtparam=watchdog=on' >> /boot/config.txt"
    #Need to reboot the machine before continue

  - name: Reboot the machine
    reboot:
      reboot_timeout: 3600

  - name: Ensure Watchdog package is installed
    apt:
      name: watchdog

  - name: Write watchdog config
    template:
      src: watchdog.conf
      dest: /etc/watchdog.conf

  - name: Ensure Watchdog is enabled and started
    service:
      name: watchdog
      state: started
      enabled: yes


  handlers:
    - name: restart nginx
      service:
        name: nginx
        state: restarted
    - name: reload systemd
      command: systemctl daemon-reload
